<!DOCTYPE html>
<html>
<head>

</head>
<body>

<form>
    <div>
        <p> The CounterNumber You entered is        :     <%= CounterNumber %> </P>
        <p> The password You entered is        :     <%= password1 %> </P>

    </div>
</form>

</body>
</html>